<html>
<head>
    <title>Movie Popularity Survey</title>
</head>
<body>

    <h1>Movie Popularity Survey</h1>


    <h3>This is a survey on the popularity of movies</h3>
    <p>The findings of most movie market surveys are available to read. If you're interested in seeing this film, you can start by looking at the plot</p>
    <p><a href={{ url_for('movie_rating') }}>Movie Rating</a> | <a href={{ url_for('movie_genres') }}>Movie Genres</a> | <a
            href={{ url_for('movie_overview') }}>Movie Overview</a></p>
    <p>Find a high scoring movie by selecting 'Movie Rating' and then display additional film stats.</p>
    <p>Select "Movie Genres" for the film type and find out which films are of the same type.</p>
    <p>View the plot of the movie by selecting "Movie_Overview", and then display all the information about the movie you like.</p>

</body>
</html>